<%

# local variable 'errors'

%>

<% if errors.count > 0 %>
  <i aria-hidden='true' class='fa fa-fw'></i><span class="badge pull-right"><%= errors.count %> <span class="sr-only">errors</span></span>
<% else %>
  <span class='pull-right text-success'>
    <i aria-hidden='true' class='fa fa-fw'></i><i aria-hidden='true' class='fa fa-fw fa-check'></i> <span class="sr-only">no errors</span>
  </span>
<% end %>
